@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');


/* base elements and header CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Space Mono', monospace;
    background-color: hsl(185, 41%, 84%);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 150px;
    max-height: 200px
}

button {
    cursor: pointer;
}

.cool-heading {
    text-transform: uppercase;
    letter-spacing: .75rem;
    font-size: 1.25rem;
    color: hsl(186, 14%, 43%);
}

/* MAIN CONTAINER CSS */
/* ****************** */
.container {
    background-color: hsl(0, 0%, 100%);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 35px;
}

.grey-heading {
    color: hsl(186, 14%, 43%);
    margin-bottom: 10px;
}

.bill-container {
    margin-bottom: 25px;
}

.sm-heading {
    font-size: 14px;
}

.input-container {
    display: flex;
    border-radius: 5px;
    padding: 5px 15px;
    background-color: hsl(189, 41%, 97%);
    border: none;
    justify-content: space-between;
    align-items: center;
}

input {
    border: none;
    width: 75%;
    background: none;
    text-align: right;
    font-size: 24px;
    font-family: inherit;
    color: hsl(183, 100%, 15%);
}

input:focus {
    outline: none;
}

label img{
    width: 12px;
}

/* flex container CSS */
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 150px);
    grid-gap: 15px;
    justify-content: center;
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
}

.grid-item, #custom-btn {
    width: 90%;
    background-color: hsl(183, 100%, 15%);
    border: none;
    font-size: 24px;
    color: white;
    padding: 7px 0px;
    border-radius: 5px;
    font-family: inherit;
}

.grid-item button:hover {
    background-color: hsl(172, 67%, 45%);
}

button#custom-btn {
    background-color: hsl(180, 53%, 93%);
    color: hsl(186, 14%, 43%);
    width: 100%;
    height: 100%;
}

.custom-amount-container {
    grid-column: 1 / span 2;
    display: none;
}

.toggle-selected {
    background-color: hsl(172, 67%, 45%) !important;
}

.toggle-custom-amount-container {
    display: block;
    text-align: left;
    margin-bottom: 25px;
}


/* tip amount and results CSS */
.results-container {
    background-color: hsl(183, 100%, 15%);
    padding: 35px 20px 15px;
    margin-top: 25px;
    border-radius: 15px;
}

.result{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.result .amount {
    color: hsl(172, 67%, 45%);
    font-size: 24px;
}

.result p {
    color: hsl(189, 41%, 97%);
    font-size: .85rem;
}

.sm-txt {
    font-size: .90em;
    color: hsl(186, 14%, 43%);
}

/* reset button CSS */
.reset {
    width: 100%;
    padding: 10px 0;
    background-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
    border-radius: 3px;
    font-family: inherit;
    text-transform: uppercase;
    font-size: 1.25rem;
    border: none;
}

.attribution {
    font-size: .75rem;
    margin-top: 40px;
}

